# Virtual Environments (Python)
venv_vms/
vms_env/
.venv/
venv/
env/
ENV/

# Python caching artifacts
**/__pycache__/
*.py[cod]
*$py.class

# Django sensitive settings & media
.env
db.sqlite3
/media/
/staticfiles/

# Operating system files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp


# === Frontend Logs ===
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# === Frontend Build and Dependencies ===
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# === Frontend Editor directories and files ===
frontend/.vscode/*
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

